# Dataset e imagens
extra/CBIS-DDSM/

# Modelos PyTorch
*.pt
*.pth

# Arquivos temporários
__pycache__/
*.pyc

# Arquivos python
*.py

# Arquivos Zip
*.zip

# Arquivos PDF
*.pdf

# pasta
.ipynb_checkpoints/
